html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.col-main, .col-footer, img {
	width:100%;
}

h1 {
	font-family: '1942_report1942_report';
	color: #72a9ae;
	font-size: 32px;  
}

p {
	font-family: 'Cute Font', cursive;
	text-align: justify;
}

h2 {
	font-family: '1942_report1942_report';
	color: #6fa9ab;
	font-size: 32px;
}

th {
	background-color: white;
	color: #72a9a6;
	height: 30%;
}

table {
	border-collapse: collapse;
	width: 100%
	border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

tr:nth-child(odd) {background-color: #f2f2f2;}
tr:nth-child(even) {background-color: white;}

.profile {
	float: right;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	display: block;
	outline: 5px black;
	background-color: white
	box-sizing: border-box;
}

.profile-info h2{
	text-align: right;
}

.profile-info h3, address{
	text-align: center;
}

.profile-info i {
	float: center;
}

header, main, footer {

	max-width: 1280px;
	margin: 0 auto;

}

.desktop-nav {
	float: center;
	width: calc(100% - 100px);
	max-width: 600px;
	display: block;
}

.desktop-nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #72a9ae 
}

.desktop-nav li {
	float: left;
}

.main-nav a {
	display: block;
	color: black;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ham {
	float: right;
	/*background: #BBDEFB;*/
}

.ham {
		
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		/*this is used to create a pointer for element*/
		cursor: pointer;
}

.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
}

.ham:before {
	content: "";
	display:block;
	position: absolute;
	background: black;
}

.ham:after {
	content: "";
	display: block;
	background: black;
	position: absolute;
	bottom: 0;
}

.mobile-nav {
	width:100%;
	clear: both;
	position: absolute;
	display: none;
}

.mobile-nav-container {
	position: relative;
	clear: both;
	
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #;
	border-bottom: 2px solid #121212;

}

.site-content {

	background-image: url("../img/pipes.png");
	width:100%;
	box-sizing: border-box;
}

.img-slide{
	width: 150px;
	height: 150px;
	float: right;
	padding: 10px;
}

#link ul{
	display: inline;
}

footer {
	background: #454545;
	padding: 30px;
	box-sizing: border-box;
	position: relative;
	right: 0;
  	bottom: 0;
  	left: 0;
  	color: white

}

footer a{
	color: white;
}

h4{
	font-size: 25px;
}

footer li{
	width: 32px;
	height: 32px;
	display: inline-block;
}

.follow{
	float: center;
}

.clearfix{
	background-image: url("../img/pipes.png");
}

footer{
	float: left;
}

.link{
	width: 32px;
	height: 32px;
	float: center;
}

@media only screen and (min-width: 768px){
	.desktop-nav {
		display: block;
	}

	.mobile-nav-container {
		display: none;
	}
	.mobile-nav {
		display: none;
	}

	.ham {
		display: none;
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		bottom: 0;
	}

	.site-content {
		float: left;
		width: 70%;
		box-sizing: border-box;
	}

}